<!-- vr-items -->
link(rel="stylesheet", href="/assets/vr-items/vr-items.css")
//- script(async src="/assets/vr-items/vr-items.js")

.vr-items
    .vr-item.border-gradient
        .vr-item__img
            <img src="/local/img/all/home__photos-1.jpg" alt="">
        .vr-item__title
            | VR франшиза
        .vr-item__desc
            | И интересный текст про них, не большой. Учитывая ключевые сценарии поведения, сложившаяся структура организации требует определения и уточнения форм воздействия.
        .vr-item__link
            a.btn.btn-background-gradient(href="#") 
                <span class="inner-container">Подробнее</span>
    .vr-item.border-gradient
        .vr-item__img
            <img src="/local/img/all/home__photos-1.jpg" alt="">
        .vr-item__title
            | VR франшиза
        .vr-item__desc
            | И интересный текст про них, не большой. Учитывая ключевые сценарии поведения, сложившаяся структура организации требует определения и уточнения форм воздействия.
        .vr-item__link
            a.btn.btn-background-gradient(href="#") 
                <span class="inner-container">Подробнее</span>