<!-- catalog-sections -->
link(rel="stylesheet", href="/assets/catalog-sections/catalog-sections.css")
script(async src="/assets/catalog-sections/catalog-sections.js")

.m-bottom.catalog-sections
    include ../section-item/section-item
    include ../section-item/section-item
    include ../section-item/section-item
    include ../section-item/section-item
    include ../section-item/section-item
    include ../section-item/section-item
    include ../section-item/section-item
    include ../section-item/section-item
    include ../section-item/section-item

.m-bottom
    | Обычный текст Текст из серии при строительстве столкнулись с таким то, применили такое то решение. Вот вам яркий пример современных тенденций — глубокий уровень погружения играет важную роль в формировании глубокомысленных рассуждений. Банальные, но неопровержимые выводы, а также базовые сценарии поведения пользователей обнародованы. В своём стремлении улучшить пользовательский опыт мы упускаем, что элементы политического процесса формируют глобальную экономическую сеть и при этом — разоблачены

.m-bottom   
    include ../form-content/form-content