<!-- blog-list -->
link(rel="stylesheet", href="/assets/blog-list/blog-list.css")
script(async src="/assets/blog-list/blog-list.js")

.blog-list
    include ../blog-item/blog-item_vertical
    include ../blog-item/blog-item_vertical
    include ../blog-item/blog-item_vertical