@font-face {
    font-family: 'Futura PT';
    font-weight: 400;
    font-style: normal;
    src: url(/local/fonts/FuturaPT/FuturaPT-Book.ttf);
}


@font-face {
    font-family: 'Futura PT';
    font-weight: 500;
    font-style: normal;
    src: url(/local/fonts/FuturaPT/FuturaPT-Medium.ttf);
}

/* Сами в шоке от того, что 450 */
@font-face {
    font-family: 'Futura PT';
    font-weight: 450;
    font-style: normal;
    src: url(/local/fonts/FuturaPT/FuturaPT-Medium.ttf);
}

/* @font-face {
    font-family: 'Futura PT';
    font-weight: 600;
    font-style: normal;
    src: url(/local/fonts/FuturaPT/FuturaPT-SemiBold.ttf);
}
@font-face {
    font-family: 'Futura PT';
    font-weight: 700;
    font-style: normal;
    src: url(/local/fonts/FuturaPT/FuturaPT-Bold.ttf);
}
@font-face {
    font-family: 'Futura PT';
    font-weight: 800;
    font-style: normal;
    src: url(/local/fonts/FuturaPT/FuturaPT-ExtraBold.ttf);
}
@font-face {
    font-family: 'Futura PT';
    font-weight: 900;
    font-style: normal;
    src: url(/local/fonts/FuturaPT/FuturaPT-Black.ttf);
}
 */