<!-- home-blog -->
link(rel="stylesheet", href="/assets/home-blog/home-blog.css")
script(async src="/assets/home-blog/home-blog.js")

.home-blog
    .home-blog__title
        h2 Блог
    a.home-blog__tg(href="#")
        include ../subscribe/subscribe
        
    a.home-blog__all(href="#")
        | Все статьи
    .home-blog__cont
        include ../blog-item/blog-item_vertical
        include ../blog-item/blog-item
        include ../blog-item/blog-item
        include ../blog-item/blog-item