.breadcrumbs {
    margin-bottom: 20px;
    color: #AFAFAF;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.breadcrumbs__item {
    text-decoration: none;
    
    color: #AFAFAF;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}