<!-- breadcrumbs -->
link(rel="stylesheet", href="/assets/breadcrumbs/breadcrumbs.css")
//- script(async src="/assets/breadcrumbs/breadcrumbs.js")

.breadcrumbs
    a.breadcrumbs__item(href="#")
        | Главная
    |&nbsp;- 
    a.breadcrumbs__item(href="#")
        | Каталог
    |&nbsp;- 
    span.breadcrumbs__item(href="#")
        | пункт
