<!-- banner_slider -->
link(rel="stylesheet", href="/assets/banner_slider/banner_slider.css")
script(async src="/assets/banner_slider/banner_slider.js")

link(rel="stylesheet" href="/local/libs/swiper/swiper-bundle.min.css" )
script(src="/local/libs/swiper/swiper-bundle.min.js" defer)

.banner_slider.slider_wrap
  .swiper
    .swiper-wrapper
      .swiper-slide
        .banner_slider-item
          .banner_slider-item-content
            .banner_slider-item-title
              | СТАНЬ ВЛАДЕЛЬЦЕМ ПРИБЫЛЬНОГО БИЗНЕСА С ВИРТУАЛЬНЫМИ СТАНЦИЯМИ
            .banner_slider-item-desc
              | с вложениями от 194 900 руб. и чистой прибылью от 100 000 руб.
            .banner_slider-item-actions
              a.btn.btn-background-gradient.banner_slider-item-more(href='#')
                span.inner-container Подробнее
              a.banner_slider-item-video.call-gradient-hover.open-video(href='#' data-video-src='https://www.youtube.com/embed/gBv237lOWSs')
                .btn.btn-background-gradient.banner_slider-item-video-icon
                  span.inner-container.banner_slider-item-video-icon-wrapper
                    img(loading='lazy' src='/local/img/all/banner_slider-item-video-icon.svg' alt='Banner arrow video')
                span.banner_slider-item-video-text Смотреть видео о компании
          .banner_slider-item-image
            img(loading='lazy' src='/local/img/all/banner-slider-image.png' alt='Banner slide image')
      .swiper-slide
        .banner_slider-item
          .banner_slider-item-content
            .banner_slider-item-title
              | СТАНЬ ВЛАДЕЛЬЦЕМ ПРИБЫЛЬНОГО БИЗНЕСА С ВИРТУАЛЬНЫМИ СТАНЦИЯМИ
            .banner_slider-item-desc
              | с вложениями от 194 900 руб. и чистой прибылью от 100 000 руб.
            .banner_slider-item-actions
              a.btn.btn-background-gradient.banner_slider-item-more(href='#')
                span.inner-container Подробнее
              a.banner_slider-item-video.call-gradient-hover.open-video(href='#' data-video-src='https://www.youtube.com/embed/gBv237lOWSs')
                .btn.btn-background-gradient.banner_slider-item-video-icon
                  span.inner-container.banner_slider-item-video-icon-wrapper
                    img(loading='lazy' src='/local/img/all/banner_slider-item-video-icon.svg' alt='Banner arrow video')
                span.banner_slider-item-video-text Смотреть видео о компании
          .banner_slider-item-image
            img(loading='lazy' src='/local/img/all/banner-slider-image.png' alt='Banner slide image')
      .swiper-slide
        .banner_slider-item
          .banner_slider-item-content
            .banner_slider-item-title
              | СТАНЬ ВЛАДЕЛЬЦЕМ ПРИБЫЛЬНОГО БИЗНЕСА С ВИРТУАЛЬНЫМИ СТАНЦИЯМИ
            .banner_slider-item-desc
              | с вложениями от 194 900 руб. и чистой прибылью от 100 000 руб.
            .banner_slider-item-actions
              a.btn.btn-background-gradient.banner_slider-item-more(href='#')
                span.inner-container Подробнее
              a.banner_slider-item-video.call-gradient-hover.open-video(href='#' data-video-src='https://www.youtube.com/embed/gBv237lOWSs')
                .btn.btn-background-gradient.banner_slider-item-video-icon
                  span.inner-container.banner_slider-item-video-icon-wrapper
                    img(loading='lazy' src='/local/img/all/banner_slider-item-video-icon.svg' alt='Banner arrow video')
                span.banner_slider-item-video-text Смотреть видео о компании
          .banner_slider-item-image
            img(loading='lazy' src='/local/img/all/banner-slider-image.png' alt='Banner slide image')
      .swiper-slide
        .banner_slider-item
          .banner_slider-item-content
            .banner_slider-item-title
              | СТАНЬ ВЛАДЕЛЬЦЕМ ПРИБЫЛЬНОГО БИЗНЕСА С ВИРТУАЛЬНЫМИ СТАНЦИЯМИ
            .banner_slider-item-desc
              | с вложениями от 194 900 руб. и чистой прибылью от 100 000 руб.
            .banner_slider-item-actions
              a.btn.btn-background-gradient.banner_slider-item-more(href='#')
                span.inner-container Подробнее
              a.banner_slider-item-video.call-gradient-hover.open-video(href='#' data-video-src='https://www.youtube.com/embed/gBv237lOWSs')
                .btn.btn-background-gradient.banner_slider-item-video-icon
                  span.inner-container.banner_slider-item-video-icon-wrapper
                    img(loading='lazy' src='/local/img/all/banner_slider-item-video-icon.svg' alt='Banner arrow video')
                span.banner_slider-item-video-text Смотреть видео о компании
          .banner_slider-item-image
            img(loading='lazy' src='/local/img/all/banner-slider-image.png' alt='Banner slide image')
    .swiper-pagination
    .swiper-button-prev
      img(src='/local/img/all/swiper-button-next-prev-custom.png' alt='Swiper arrow')
    .swiper-button-next
      img(src='/local/img/all/swiper-button-next-prev-custom.png' alt='Swiper arrow')
