<!-- tech-detail -->
link(rel="stylesheet", href="/assets/tech-detail/tech-detail.css")
//- script(async src="/assets/tech-detail/tech-detail.js")

.tech-detail
    h1 название страницы
    .tech-detail__text
        | Текст
    include ../bottom-text/bottom-text
    include ../form-content/form-content