.advantages{
    .swiper-wrapper{
        align-items: center;
    }
}

.advantages_block {
    margin-top: 100px;
    margin-bottom: 140px;
}

.advantages_block .slider_wrap {
    margin-top: 50px;
}

.advantages_block .swiper-wrapper {
    padding-bottom: 40px;
}

.advantages_block .swiper-button-prev,
.advantages_block .swiper-button-next {
    top: 109px;
}

.advantages-item.swiper-slide {
    width: 283px;
    max-width: 100%;

    &:hover,
    &:focus{
        .advantages-item-desc{
            max-height: 300px
        }
    }
}

.advantages-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)),
        rgba(127, 0, 255, 0.07);
    backdrop-filter: blur(3.5px);
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.advantages-item-title {
    margin-top: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.advantages-item-desc {
    margin-top: 10px;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
    transition: 
        max-height .3s ease, 
        padding .3s ease
    ;
    max-height: 0;
}

@media screen and (max-width: 1288px) {

    .advantages_block .swiper-button-prev,
    .advantages_block .swiper-button-next {
        display: none;
    }
}