<!-- team-item -->
link(rel="stylesheet", href="/assets/team-item/team-item.css")
//- script(async src="/assets/team-item/team-item.js")

.team-item
    a.team-item__img(href="#")
    .team-item__pos
        | Генеральный директор
    a.team-item__name(href="#")
        | Евгений Исаков
    a.team-item__mail(href="#")
        | isakov@zaga-game.com
    
