<!-- blog-item -->
link(rel="stylesheet", href="/assets/blog-item/blog-item.css")
//- script(async src="/assets/blog-item/blog-item.js")

.blog-item
    a.blog-item__img(href="#")
        img(src="/local/img/all/home__photos-1.jpg", alt="")
    .blog-item__cont
        a.blog-item__name(href="#")
            | Обзор PIMAX 8K
        .blog-item__desc
            | Совсем недавно начались продажи шлема виртуальной реальность от китайской компании Pimax. Во-первых, что следует из названия – это разрешение 8К. В шлеме присутствуют два LCD экрана с разрешениями 3840х2160 пикселей каждый, по одному на глаз. Это шестнадцать с половиной миллионов пикселей всего, что не может не впечатлить, ведь даже у Oculus Rift разрешение составляет 1080×1200 пикселей на каждый глаз
        .blog-item__date
            | 12.10.2022