<!-- article -->
link(rel="stylesheet", href="/assets/article/article.css")
script(async src="/assets/article/article.js")

.article
    .article__title
        h1 Обзор PIMAX 8K
    .article__date
        | 12.10.2022
    .m-bottom.article__content
        | Совсем недавно начались продажи шлема виртуальной реальность от китайской компании Pimax.
        img(src="/local/img/all/catalog-item.jpg" type="image/jpg" alt="" loading="lazy")
        | Во-первых, что следует из названия – это разрешение 8К. В шлеме присутствуют два LCD экрана с разрешениями 3840х2160 пикселей каждый, по одному на глаз. Это шестнадцать с половиной миллионов пикселей всего, что не может не впечатлить, ведь даже у Oculus Rift разрешение составляет 1080×1200 пикселей на каждый глаз
    .m-bottom
        h2 Вам может быть интересно
        include ../blog-list/blog-list
include ../form-sub/form-sub