<!-- pagination -->

link(rel="stylesheet", href="/assets/pagination/pagination.css")
//- script(async src="/assets/pagination/pagination.js")

.pagination
    a.pagination__btn(href="#")
        .pagination__btn-icon
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                <path d="M6 11L1 6L6 1" stroke="#7F00FF" stroke-width="2" stroke-linejoin="round"/>
            </svg>
    .pagination__links
        .pagination__link-item.pagination__link-item_active
            | 1
        a.pagination__link-item(href="#")
            | 2
        a.pagination__link-item(href="#")
            | 3
        .pagination__link-three-dots
            | ...
        a.pagination__link-item(href="#")
            | 14
    a.pagination__btn(href="#")
        .pagination__btn-icon
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                <path d="M1 11L6 6L1 1" stroke="#7F00FF" stroke-width="2" stroke-linejoin="round"/>
            </svg>