<!-- promo-item -->


a.promo-item(href="#")
    .promo-item__img
        img(src="/local/img/all/home-recomend.jpg", alt="" loading="lazy")
    .promo-item__title
        | Самые крупные платформы полного погружения
    .promo-item__desc
        | KAT WALK VR


link(rel="stylesheet", href="/assets/promo-item/promo-item.css")
//- script(async src="/assets/promo-item/promo-item.js")