<!-- footer-menu -->
link(rel="stylesheet", href="/assets/footer-menu/footer-menu.css")
//- script(async src="/assets/footer-menu/footer-menu.js")

.footer-menu
    a.footer-title(href="#")
        | Заголовок меню
    a.footer-menu__item(href="#")
        | Пункт меню
    a.footer-menu__item(href="#")
        | Пункт меню
    a.footer-menu__item(href="#")
        | Пункт меню
    a.footer-menu__item(href="#")
        | Пункт меню
    a.footer-menu__item(href="#")
        | Пункт меню