<!-- section-item -->
link(rel="stylesheet", href="/assets/section-item/section-item.css")
//- script(async src="/assets/section-item/section-item.js")

a.section-item.border-gradient(href="#")
    .section-item__icon
        img(loading='lazy' src='/local/img/all/section-item.png' alt='Banner arrow video')
    .section-item__title
        | VR Аттракционы