<!-- promo-list -->

link(rel="stylesheet", href="/assets/promo-list/promo-list.css")
//- script(async src="/assets/promo-list/promo-list.js")

.promo-list
    include ../promo-item/promo-item
    include ../promo-item/promo-item
    include ../promo-item/promo-item
    include ../promo-item/promo-item