.blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px 10px;
    grid-template-areas: 
        'blog__title blog__title blog__title blog__tg blog__tg blog__tg'
        'blog__cont blog__cont blog__cont blog__cont blog__cont blog__cont'
        '. . blog__lazy blog__lazy blog__pag blog__pag'
    ;

    @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            '. blog__title blog__tg'
            'blog__cont blog__cont blog__cont'
            'blog__lazy blog__lazy blog__lazy'
            'blog__pag blog__pag blog__pag'
        ;
    }

    @media (max-width: 400px) {
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-areas:
            'blog__title'
            'blog__tg'
            'blog__cont'
            'blog__lazy'
            'blog__pag'
        ;
    }
}

.blog__title {
    grid-area: blog__title;
    h2,
    .h2 {
        margin-bottom: 0;
    }
}

.blog__tg{
    grid-area: blog__tg;
    margin: auto 0 auto auto;

    @media (max-width: 400px){
        margin: -20px auto auto;
    }
}

.blog__cont{
    grid-area: blog__cont;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .blog-item{
        @media (max-width: 991px) {
            grid-column: 1 / 4;            
        }

        &:not(:first-child){
            @media (min-width: 576px) and (max-width: 991px) {
                grid-template-columns: 170px 1fr;
                grid-template-rows: unset;
            }
        }

        &:not(.blog-item_vertical){
            /* @media (min-width: 992px){ */
                grid-column: 1 / 4;
            /* } */
        }
    }
}

.blog__lazy{
    grid-area: blog__lazy;
    margin: auto;
}

.blog__pag{
    grid-area: blog__pag;
    margin: auto 0 auto auto;

    @media (max-width: 600px){
        margin: auto;
    }
}