extends templates/template-base

block title
	| Главная - Новый проект

block content
	
	link(rel="stylesheet" href="/local/libs/swiper/swiper-bundle.min.css" )
	script(src="/local/libs/swiper/swiper-bundle.min.js" defer)
	
	.max-width
		a(href="/home.html") Главная 
		<br>
		<br>
		a(href="/blog.html") Блог
		<br>
		<br>
		a(href="/404.html") 404
		<br>
		<br>
		a(href="/about.html") О компании
		<br>
		<br>
		a(href="/contacts.html") Контакты
		<br>
		<br>
		a(href="/catalog.html") Каталог 
		<br>
		<br>	
		a(href="/article.html") Статьи
		<br>
		<br>
		a(href="/tech.html") Техническая страница
		<br>
		<br>
		a(href="/promo.html") Акции
		<br>
		<br>
		a(href="/detail.html") Деталка каталог
		<br>
		<br>
		a(href="/vr.html") VR Бизнес
		<br>
		<br>
		a(href="/favorites.html") Избранное
		<br>
		<br>
		a(href="/compare.html") Сравнение
		<br>
		<br>
		a(href="/franchise.html") Франшиза
		<br>
		<br>

		
		div(style="margin-bottom: 100px")
