link(rel="stylesheet" href="/local/css/404.css")

.page-404
    .page-404__numb
        | 404
    .page-404__title
        | Страница не найдена
    .page-404__desc
        div
            | Этой страницы не существует даже в виртуальной реальности
        div
            | Попробуйте <a href="#">перейти на главную</a>