link(rel="stylesheet" href="/local/css/home.css")

link(rel="stylesheet" href="/local/libs/swiper/swiper-bundle.min.css" )
script(src="/local/libs/swiper/swiper-bundle.min.js" defer)
   
include ../assets/banner_slider/banner_slider
include ../assets/advantages/advantages
.m-bottom
    include ../assets/sections_slider/sections_slider
.m-bottom
    include ../assets/best-slider/best-slider
.max-width
    .m-bottom
        include ../assets/home-recomend/home-recomend
    .m-bottom
        include ../assets/home-reviews/home-reviews
    .m-bottom
        include ../assets/form-content/form-content
    h2 О компании
    .home-about
        .home-about__desc
            | Идейные соображения высшего порядка, а также семантический разбор внешних противодействий не оставляет шанса для благоприятных перспектив. Как уже неоднократно упомянуто, непосредственные участники технического прогресса лишь добавляют фракционных разногласий и представлены в исключительно положительном.
        .home-about__photes
            img(src="/local/img/all/home__photos-1.jpg", alt="" loading="lazy")
            img(src="/local/img/all/home__photos-2.jpg", alt="" loading="lazy")
            img(src="/local/img/all/home__photos-3.jpg", alt="" loading="lazy")
        .home-about__advantages.border-gradient
            .home-about__advantages-item
                .home-about__advantages-item-numb
                    | 100
                .home-about__advantages-item-line-1
                    | квалифицированных
                .home-about__advantages-item-line-2
                    | специалистов
            .br
            .home-about__advantages-item
                .home-about__advantages-item-numb
                    | 12
                .home-about__advantages-item-line-1
                    | лет
                .home-about__advantages-item-line-2
                    | стабильной работы
            .br
            .home-about__advantages-item
                .home-about__advantages-item-numb
                    | 8 000
                .home-about__advantages-item-line-1
                    | аттракционов
                .home-about__advantages-item-line-2
                    | установили за всё время работы
                    
    .home-sert
        h2 Сертификаты и дипломы
