link(rel="stylesheet" href="/local/css/home.css")

link(rel="stylesheet" href="/local/libs/swiper/swiper-bundle.min.css" )
script(src="/local/libs/swiper/swiper-bundle.min.js" defer)

.max-width
    
