link(rel="stylesheet" href="/local/css/blog.css")

.max-width
    include ../assets/breadcrumbs/breadcrumbs
    h1 Акции
    include ../assets/promo-list/promo-list
    include ../assets/form-content/form-content