<!-- sert-list -->
link(rel="stylesheet", href="/assets/sert-list/sert-list.css")
script(async src="/assets/sert-list/sert-list.js")

link(rel="stylesheet" href="/local/libs/fancybox/fancybox.css" )
script(src="/local/libs/fancybox/fancybox.umd.js" defer)

.sert-list
    .sert-item
        .sert-item__img(data-fancybox="serts" data-src="/local/img/all/sert1.jpg")
            img(src="/local/img/all/sert1.jpg", alt="" )
        .sert-item__name
            | Сертификат такой-то
    .sert-item
        .sert-item__img(data-fancybox="serts" data-src="/local/img/all/sert1.jpg")
            img(src="/local/img/all/home__photos-2.jpg", alt="" )
        .sert-item__name
            | Сертификат такой-то
    .sert-item
        .sert-item__img(data-fancybox="serts" data-src="/local/img/all/sert1.jpg")
            img(src="/local/img/all/sert1.jpg", alt="" )
        .sert-item__name
            | Сертификат такой-то